
<div class="container-fluid d-flex flex-column justify-content-center">


  
  <div class="container text-center" >

  <div class="row justify-content-md-center mt-5">

      <h1>buyed Appartments</h1>
      
      
  </div>

  </div>



  <div class="col-12">
    <div class="row">
      <div class="col-md-6 mb-4" *ngFor="let item of apartments | paginate: { id: 'Paginate', itemsPerPage: CountPerPage , currentPage: page, totalItems: totalApartment }">
        <div class="card h-100">
          <div class="card-body">
            <app-apartment-card (pageChange)="GetApartments($event)" [id]="item.id" [title]="item.title" [address]="item.address" [area]="item.area" [miniDescription]="item.miniDescription" [bedrooms]="item.bedrooms" [bathrooms]="item.bathrooms" [photos]="item.photos" [IsFavorite]="item.isFavorite">>></app-apartment-card>
          </div>
        </div>
      </div>
    </div>
  </div>

      
        <div class="has-text-centered">
          <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
          <pagination-controls (pageChange)="GetApartments($event)" id="Paginate"></pagination-controls>
      </div>
      <div>
        <h1>Gap</h1>
      </div>


</div>