   
 <div class=" ServicesBackground">
<div class="container text-center  " >
  <h1  class="pt-3 h11">Our services</h1>
    <div class="row justify-content-between" >
      
        <div class="card col-lg-3 mx-auto mx-sm-5 mx-md-auto my-5 cardHeight" style="width: 26rem;">
            <img src="../../assets/img1.jpg" class="card-img-top imgeSize" alt="img1">
            <div class="card-body">
              <h5 class="card-title textColor">Buy a home</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary mt-3">Buy Home</a>
            </div>
          </div>
     
      
        <div class="card col-lg-3 mx-auto mx-sm-5 mx-md-auto  my-5  " style="width: 26rem;">
            <img src="../../assets/img2.jpg" class="card-img-top imgeSize" alt="img1">
            
            <div class="card-body">
              <h5 class="card-title textColor">Sell a home</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary mt-3">Sell Home</a>
           
           </div>
          </div>
      
      
        <div class="card col-lg-3 mx-auto mx-sm-5 mx-md-auto my-5" style="width: 26rem;">
            <img src="../../assets/img3.jpg" class="card-img-top imgeSize" alt="img1">
            <div class="card-body">
              <h5 class="card-title textColor">Rent a home</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary mt-3">Rent Home</a>
            </div>
          </div>
      </div>
    </div>
  </div>
