<div class="col-12" *ngFor="let item of apartments">
    <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
      <div class="container-fluid">
        <div class="row justify-content-md-center mt-3 card_conatiner">
          <app-apartment-card [id]="item.id" [title]="item.title" [address]="item.address" [area]="item.area" [miniDescription]="item.miniDescription" [bedrooms]="item.bedrooms" [bathrooms]="item.bathrooms"></app-apartment-card>
        </div>
      </div>
    </div>
  </div>
