<div class="table-responsive">
    <table class="table table-primary">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>User</th>
                <th>Broker</th>
                <th>Process</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of requests">
                
                <td>{{item.id}}</td>
                <td>{{item.title}} </td>
                <td> {{item.userName}} </td>
                <td>
                    <select [(ngModel)]="item.BrokerID">
                        <option *ngFor="let item of brokers" [value]="item.brokerId">{{ item.brokerName }}</option>
                      </select>
                </td>
                <td>                    
      <button *ngIf="item.BrokerID!=null" class="btn btn-success" (click)="Accepted(item.id,item.BrokerID)"> Accept </button> 

        <button class="btn btn-primary"> Show Details </button> 
     
        <button class="btn btn-danger"(click)="Delete(item.id)"> Delete </button> 

        </td>
                
            </tr>

        </tbody>
    </table>
  
</div>