<nav>
  <ul>

    <li><a routerLink="">Home</a></li>
    <li><a  routerLink="/buy">Buy</a></li>
    <li><a routerLink="/rent">Rent</a></li>
    <li><a routerLink="/addapartment">Sell</a></li>
    <li><a routerLink="/brokerapartment">Assigned Apartments</a></li>

    <li class="dropdown">
      <a href="#" class="dropdown-btn">Services</a>
      <div class="dropdown-content">
        <a routerLink="/requests">Show Requests</a>
        <a routerLink="/addmanager">Add Manager</a>
        <a routerLink="/addbroker">Add Broker</a>
      </div>
    </li>

    <li><a routerLink="/favlist"><i class="fa fa-heart"></i></a></li>


<button  routerLink="/login" class="btn"> Login </button>

<button routerLink="/signup" class="btn"> Register </button>

  </ul>
</nav>